 .btn-blue {

 	background-color: #0fabbc;
 	color : rgba(250,250,250);
 	font-weight: 600;
 	border-radius: 5px;
 	padding: 20px 40px;
 	margin: 30px auto;
    text-align: center;
    list-style-type: none;


 }

 .btn-blue:hover {

 	background-color: #3282b8;
 	color : rgba(250,250,250);
 	font-weight: 600;
 	border-radius: 5px;
 	padding: 20px 40px;
 	margin: 30px auto;
    text-align: center;

 }

 #search {

 	margin-left: 200px;
 }

 